/* Use openerp default font */
.dhx_cal_container{
	font-family: inherit;
}

/* personal calendar available background */
.oe_view_manager_view_calendar_personal .with_events{
	background: rgb(222,239,255);
	background: -moz-linear-gradient(top,  rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,rgba(152,190,222,1)));
	background: -webkit-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
	background: -o-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
	background: -ms-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
	background: linear-gradient(to bottom,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 );
}

/* personal calendar background transparent to show available background */
.oe_view_manager_view_calendar_personal .with_events .dhx_month_head{
	background: transparent;
}

/* personal calendar background transparent to show available background */
.oe_view_manager_view_calendar_personal .with_events .dhx_month_body{
	background: transparent;
}

/* personnal calendar drag background */
.staffdragevent, .oe_view_manager_view_calendar_personal .with_events.staffdragevent{
	background: rgb(178,225,255);
	background: -moz-linear-gradient(top,  rgba(178,225,255,1) 0%, rgba(102,182,252,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(178,225,255,1)), color-stop(100%,rgba(102,182,252,1)));
	background: -webkit-linear-gradient(top,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%);
	background: -o-linear-gradient(top,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%);
	background: -ms-linear-gradient(top,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%);
	background: linear-gradient(to bottom,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=0 );
}

/* personal calendar background transparent to show drag background */
.staffdragevent .dhx_month_head{
	background: transparent;
}

/* personal calendar background transparent to show drag background */
.staffdragevent .dhx_month_body{
	background: transparent;
}

/* scheduler cells background */
.dhx_matrix_scell, .dhx_matrix_cell{
	background-color: #e0e0e0;
}

/* scheduler pointer in scheduler */
.oe_view_manager_view_calendar_scheduler .dhx_matrix_cell.available, .oe_view_manager_view_calendar_timecheck .dhx_matrix_cell.available{
	cursor: pointer;
}

/* scheduler pointer in scheduler */
.oe_view_manager_view_calendar_scheduler .dhx_matrix_cell.assigned, .oe_view_manager_view_calendar_timecheck .dhx_matrix_cell.assigned{
	cursor: pointer;
}

/* scheduler availables cells */
.dhx_matrix_cell.available{
	background-color:white;
}

/* scheduler assigned cells */
.dhx_matrix_cell.assigned{
	background: rgb(222,239,255);
	background: -moz-linear-gradient(top,  rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,rgba(152,190,222,1)));
	background: -webkit-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
	background: -o-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
	background: -ms-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
	background: linear-gradient(to bottom,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 );
}

/* scheduler cells unselectable (quick assign) background */
.dhx_matrix_cell.available.unselectable, .dhx_matrix_cell.assigned.unselectable{
	background: #e0e0e0;
}

/* scheduler user background color when mouse on line */
.dhx_cal_data table tr:hover .dhx_matrix_scell{
	background: rgb(222,239,255);
}

/* scheduler user cell */
.openerp td.dhx_matrix_scell{
	vertical-align: middle;
	font-weight: bold;
	text-indent: 5px;
}

/* scheduler others cells */
.openerp td.dhx_matrix_cell{
	vertical-align: middle;
}

/* hide timeline tooltip (we have our own's tooltips) */
.dhx_year_tooltip{
	position: absolute;
	display: none;
}

/* class for hide events */
.event_hidden{
	display: none;
}

/* scheduler quick assign one2many container */
.staff_management_quick_assign_task{
	padding: 2px 0 2px 8px;
	width: 200px;
}

/* scheduler quick assign one2many span (dropdown image) */
.staff_management_quick_assign_task span{
	position: relative;
	display: inline-block;
}

/* quickassign many2one field button */
.staff_management_quick_assign_task .oe_form_field_many2one .oe_m2o_cm_button {
	line-height: 14px;
	float: right;
	padding-left: 2px;
}

/* quickassign text */
.openerp .staff_quickassign_text{
	line-height: 24px;
	text-align: right;
	padding: 0 10px;
}

/* quickassign buttons */
.openerp .staff_quickassign_button{
	line-height: 24px;
	padding: 0 10px;
}

/* quickassign container */
.staff_management_quick_assign_container{
	background: #EBEBEB;
	height: 25px;
	padding-right: 100px;
}

/* quickassign form inputs */
.staff_management_quick_assign_container input[type="text"]{
	width: 7em;
}

/* hide the quick assign form */
.staff_quickassign_form.hidden{
	display: none;
}

.staff_event{
	text-align: left;
	position: absolute;
	display: block;
	padding-left: 5px;
}


/* sheduler count assigned/available */
.user_add{
	font-weight: normal;
}

/* tooltips */
.staff_tooltip{
	position: absolute;
	background: #FFF;
	width: 200px;
	border-radius: 5px;
	padding: 5px;
	box-shadow: #000 0 0 5px;
	word-wrap:break-word;
	opacity: 0.9;
	display: none;
	visibility: hidden;
}

.staff_mngmt_special_nav .dhx_cal_prev_button{
	padding-top: 3px;
	padding-left: 12px;
	padding-right: 5px;
	background-image: url(/staff_management/static/src/img/buttons.png);
	background-position: 0 0;
	width: 61px;
	height: 17px;
	left: 130px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}

.staff_mngmt_special_nav .dhx_cal_next_button{
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 12px;
	background-image: url(/staff_management/static/src/img/buttons.png);
	background-position: 78px 0;
	width: 61px;
	height: 17px;
	left: 277px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}

.staff_mngmt_special_nav .dhx_cal_today_button{
	left: 208px;
}


.staff_mngmt_special_nav .dhx_cal_prev_month_button {
   	padding-top: 3px;
	padding-left: 12px;
	padding-right: 5px;
	background-image: url(/staff_management/static/src/img/buttons.png);
	background-position: 0 0;
	width: 61px;
	height: 17px;
	left: 50px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}


.staff_mngmt_special_nav .dhx_cal_next_month_button {
    padding-top: 3px;
	padding-left: 5px;
	padding-right: 12px;
	background-image: url(/staff_management/static/src/img/buttons.png);
	background-position: 78px 0;
	width: 61px;
	height: 17px;
	left: 357px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}

.staff_mngmt_special_nav .dhx_cal_date{
	left: 450px;
}


.staff_mngmt_special_nav_month .dhx_cal_prev_button{
	padding-top: 3px;
	padding-left: 12px;
	padding-right: 5px;
	background-image: url(/staff_management/static/src/img/buttons.png);
	background-position: 0 0;
	width: 61px;
	height: 17px;
	left: 50px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}

.staff_mngmt_special_nav_month .dhx_cal_prev_button{
	padding-top: 3px;
	padding-left: 12px;
	padding-right: 5px;
	background-image: url(/staff_management/static/src/img/buttons.png);
	background-position: 0 0;
	width: 61px;
	height: 17px;
	left: 50px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}

.staff_mngmt_special_nav_month .dhx_cal_next_button{
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 12px;
	background-image: url(/staff_management/static/src/img/buttons.png);
	background-position: 78px 0;
	width: 61px;
	height: 17px;
	left: 200px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}

.staff_mngmt_special_nav_month .dhx_cal_today_button{
	left: 130px;
}
.staff_mngmt_special_nav_month .dhx_cal_date{
	left: 450px;
}

.staff_management_timecheck_padding{
	width: 20%;
}


/* personal calendar assigned events (block in absolute position) */
.dhx_cal_event_clear{
	padding: 0px 7px;
	margin: 0;
	cursor: default;
	white-space: normal;
	background: #cc0000;
	height: 20px;
	line-height: 20px;
	font-weight: 500;
	font-size: 12px;
}

.dhx_cal_event_clear span{
	margin: 0;
	padding: 0;
	color: #FFF;
	display: inline-block;
	line-height: normal;
}

.staff_weekcal_headband{
	position: absolute;
	background-image: linear-gradient(to bottom, #fcfcfc, #dedede);
}

.staff_weekcal_headband_block{
	position: absolute;
	height: 22px;
	border-left: 1px solid #FFF;
	text-align: center;
	line-height: 22px;
}

.openerp .oe_view_manager .oe_view_manager_switch .oe_vm_switch_calendar_booking:after {
    content: "P";
}
