@media print{

	.dhx_cal_prev_button{
		display: none;
	}

	.dhx_cal_next_button{
		display: none;
	}

	.dhx_cal_today_button{
		display: none;
	}

	.dhx_cal_prev_month_button{
		display: none;
	}

	.dhx_cal_next_month_button{
		display: none;
	}
	.dhx_cal_tab{
		display: none;
	}

	.dhx_cal_data {
		position: absolute;
		left: 0!important;
		overflow-y: visible;
		overflow-x: visible;
		width: 100%!important;
		max-width: 100%!important;
		border-top: none;
	}
	
	.dhx_cal_data table{
		width: 100%!important;
		max-width: 100%!important;
		border-collapse: collapse;
	}
	
	.dhx_cal_data table td{
		width: 12%!important;
	}
	
	.dhx_cal_data table td div{
		width: initial!important;
	}
	
	.dhx_cal_container{
		overflow: visible;
		width: 100%!important;
		max-width: 100%!important;
	}
	
	.dhx_matrix_scell{
		border: 1px solid #999;
	}
	
	.dhx_matrix_cell{
		border: 1px solid #999;
	}
	
	.oe_view_manager_view_calendar_general{
		width: 100%!important;
	}
	
	.dhx_cal_header{
		width: 100%!important;
		margin-left: 12%!important;
	}
	
	.dhx_cal_header .dhx_scale_bar{
		position: relative;
		left: 0px!important;
		float: left;
		width: 12%!important;
	}
	
	.staff_weekcal_headband{
		display: none;
	}
	
	.staff_management_quick_assign_container{
		display: none;
	}


}
