/* left top buttons on the calendar view */
.staff_timeline .fc-header span{
	margin: 0;
}

.staff_timeline .fc-header .fc-button{
	margin-top: 10px;
}
.staff_timeline .fc-header-left{
	padding-left: 10px!important;
}

.staff_timeline .fc-header-center{
	text-align: center!important;
}

.staff_timeline .fc-header-center h2{
	font-size: 2em;
	margin-top: 8px!important;
}

.stimeline_table .stimeline_leftcol{
	background: #f0f0f0;
	text-align: left;
}


.stimeline_table table{
	border: none;
	border-collapse: collapse;
}

.stimeline_table tr.firstHeaderLine{
	border-top: 1px solid #dfdfdf;
}

.stimeline_table table td, .staff_timeline table th{
	vertical-align: middle;
	border-left: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	text-align: center;
}

.stimeline_table table td{
	min-width: 36px;
	width: 200px;
}

.stimeline_table tr.lastHeaderLine td, .stimeline_table tr.lastHeaderLine th{
	border-bottom: none;
}

.stimeline_table .stimeline_leftcol{
	min-width: 200px;
	width: 200px;
	max-width: 200px;
}

.stimeline_table tbody tr:hover .stimeline_leftcol{
	background: rgb(222,239,255);
}

.stimeline_table tbody tr:hover .lightCell{
	background: rgb(222,239,255);
}

.stimeline_table tfoot tr td, .stimeline_table tfoot tr th.stimeline_leftcol{
	background: rgb(222,239,255);
}

.stimeline_table td{
	background: #f0f0f0;
}

.stimeline_table td.staff_available{
	background: #FFF;
}

.stimeline_table td.staff_assigned{
	background: rgb(222,239,255);
	background: -moz-linear-gradient(top,  rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,rgba(152,190,222,1)));
	background: -webkit-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
	background: -o-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
	background: -ms-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
	background: linear-gradient(to bottom,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 );
}

.stimeline_table .text_link:hover{
	text-decoration: underline;
}

.stimeline_table .clickable{
	cursor: pointer;
}

.stimeline_table .red{
	color: #900;
}

.stimeline_table .green{
	color: #090;
}


.stimeline_table td, .stimeline_table th{
	padding: 0;
	border-collapse: collapse;
	margin: 0;
}