/* left top buttons on the calendar view */
.staff_timeline .fc-header span{
	margin: 0;
}

.staff_timeline .fc-header .fc-button{
	margin-top: 10px;
}
.staff_timeline .fc-header-left{
	padding-left: 10px!important;
}

.staff_timeline .fc-header-center{
	text-align: center!important;
}

.staff_timeline .fc-header-center h2{
	font-size: 2em;
	margin-top: 8px!important;
}
